[host]
    git = "webrtc.googlesource.com"
    gerrit = "webrtc-review.googlesource.com"

[builder "luci.webrtc.try/android_compile_rel"]
    base = "luci.webrtc.ci/Android32 Builder arm"
[builder "luci.webrtc.try/android_compile_arm64_rel"]
    base = "luci.webrtc.ci/Android64 Builder arm64"
[builder "luci.webrtc.try/linux_compile_rel"]
    base = "luci.webrtc.ci/Linux64 Builder"
[builder "luci.webrtc.try/ios_api_framework"]
    base = "luci.webrtc.ci/iOS API Framework Builder"

[builder "luci.webrtc.try/android_arm64_rel"]
    base = "luci.webrtc.ci/Android64 (M Nexus5X)"
[builder "luci.webrtc.try/android_rel"]
    base = "luci.webrtc.ci/Android32 (M Nexus5X)"
[builder "luci.webrtc.try/android_more_configs"]
    base = "luci.webrtc.ci/Android32 (more configs)"

[builder "luci.webrtc.try/ios_arm64_rel"]
    base = "luci.webrtc.ci/iOS64 Release"
[builder "luci.webrtc.try/ios_rel"]
    base = "luci.webrtc.ci/iOS32 Release"

[builder "luci.webrtc.try/linux_rel"]
    base = "luci.webrtc.ci/Linux64 Release"
[builder "luci.webrtc.try/linux32_rel"]
    base = "luci.webrtc.ci/Linux32 Release"
[builder "luci.webrtc.try/linux_arm64_rel"]
    base = "luci.webrtc.ci/Linux64 Release (ARM)"
[builder "luci.webrtc.try/linux32_arm_rel"]
    base = "luci.webrtc.ci/Linux32 Release (ARM)"
[builder "luci.webrtc.try/linux_gcc_rel"]
    base = "luci.webrtc.ci/Linux64 Release (GCC)"
[builder "luci.webrtc.try/linux_more_configs"]
    base = "luci.webrtc.ci/Linux (more configs)"

[builder "luci.webrtc.try/mac_rel"]
    base = "luci.webrtc.ci/Mac64 Release"

[builder "luci.webrtc.try/win_rel"]
    base = "luci.webrtc.ci/Win32 Release"
[builder "luci.webrtc.try/win_x64_rel"]
    base = "luci.webrtc.ci/Win64 Release"
[builder "luci.webrtc.try/win_clang_rel"]
    base = "luci.webrtc.ci/Win32 Release (Clang)"
[builder "luci.webrtc.try/win_x64_clang_rel"]
    base = "luci.webrtc.ci/Win64 Release (Clang)"
[builder "luci.webrtc.try/win_more_configs"]
    base = "luci.webrtc.ci/Win (more configs)"
