[host]
    git = "webrtc.googlesource.com"
    gerrit = "webrtc-review.googlesource.com"

[builder "luci.webrtc.try/android_compile_arm_rel"]
    base = "luci.webrtc.ci/Android32 Builder arm"
[builder "luci.webrtc.try/android_compile_arm64_rel"]
    base = "luci.webrtc.ci/Android64 Builder arm64"
[builder "luci.webrtc.try/linux_compile_rel"]
    base = "luci.webrtc.ci/Linux64 Builder"
[builder "luci.webrtc.try/ios_api_framework"]
    base = "luci.webrtc.ci/iOS API Framework Builder"

# Obsolete but stores old information:
[builder "luci.webrtc.try/android_compile_rel"]
    base = "luci.webrtc.ci/Android32 Builder arm"



